.govuk-frontend-supported .govuk-accordion {
  border:0;
  margin: 0;

  .govuk-accordion__section {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #b1b4b6;

    &:first-child {
      border-top-width: 0;
    }
  }

  .govuk-accordion__section-button {
    border-top: 0;
    padding: 0;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #f3f2f1;
    background-color: #f3f2f1;
    
    &:hover {
      background-color: #e7e5e3;
      border-bottom-color: #e7e5e3;
    }
    
    &:focus {
      border-bottom-color: black;
    }

    .govuk-accordion__section-toggle {
      margin: 0 ;
      
      .govuk-accordion__section-toggle-focus{
        display: flex ;
        padding: 10px 18px ;
        margin: 0 ;
        box-shadow: none;

        .govuk-accordion__section-toggle-text {
          flex: 1;
          color: black;
          margin: 0;
          font-size: 20px;
          font-weight: 700;

          .govuk-accordion-nav__chevron-wrapper {
            height: 100%;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.document-select-accordion-document {
  display: flex;
  padding: 12px 22px;
  border-top: solid 1px #b1b4b6;
  background-color: #1d70b813;
  
  &.show-left-border {
    border-left: solid 5px #1d70b8;
  }

  .document-select-accordion-document--inner-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .document-select-accordion-document--tag-wrapper {
    display: flex; 
    gap: 8px;
  }

  .govuk-link {
    cursor: pointer;
    color: #1d70b8;

    &:hover {
      color: #003078
    }
   
    &.disabled {
      cursor: default;
    }
  }
}

.document-select-notes-icon {
  position: relative;

  .document-select-notes-icon--unread-indicator {
    position: absolute;
    top: -3px;
    right: -3px;
    height: 10px;
    width: 10px;
    background: #1d70b8;
    border-radius: 5px;
  }
}